@font-face {
  font-family: 'Avenir Next Pro';
  font-weight: bold;
  src: url(/fonts/293F9F_0_0.eot);
  src: url(/fonts/293F9F_0_0.eot?#iefix) format('embedded-opentype'),
    url(/fonts/293F9F_0_0.woff) format('woff'),
    url(/fonts/293F9F_0_0.ttf) format('truetype');
}

@font-face {
  font-family: 'Avenir Next Pro';
  src: url(/fonts/293F9F_1_0.eot);
  src: url(/fonts/293F9F_1_0.eot?#iefix) format('embedded-opentype'),
    url(/fonts/293F9F_1_0.woff) format('woff'),
    url(/fonts/293F9F_1_0.ttf) format('truetype');
}

body {
  color: #333;
  font: 1.5em/1.5em 'Avenir Next Pro', Helvetica, Arial, sans-serif;
}

a {
  color: #333;
}

  a:hover {
    color: #333;
    text-decoration: none;
  }

#site-header {
  background: #42DCA3;
  height: 64px;
  font-size: 16px;
  margin-bottom: 100px;
}

  #site-header .logo {
    background: url(/images/q-logo.png) no-repeat;
    background-size: 100%;
    height: 118px;
    margin: -8px 0 0 0;
    width: 134px;
  }

  #site-header .nav {
    float: right;
    line-height: 64px;
  }

    #site-header .nav > a {
      color: #333;
      margin-left: 2em;
    }

#site-footer {
  margin-bottom: 40px;
  margin-top: 80px;
}

  #site-footer .copy {
    color: #666;
    font-size: 11px;
  }

  #site-footer .sign-off {
    color: #666;
    font-size: 11px;
    text-align: right;
  }

/* .page-content {} */


  .page-content a {
    background: #C2F3E1;
    color: #333;
    padding: 4px 6px 1px 6px;
  }

    .page-content a:hover {
      color: #333;
      text-decoration: none;
      border-bottom: 1px solid #42DCA3;
    }

/* .page-month {} */

  .page-month header {
    margin-bottom: 40px;
    text-align: center;
  }

    .page-month header .title,
    .page-month header .subtitle {
      line-height: 1.25em;
      margin: 0;
      text-align: center;
    }

    .page-month header .title {
      font-size: 45px;
      font-weight: bold;
    }

    .page-month header .subtitle {
      font-size: 36px;
    }

.page-footer {
  margin-top: 30px;
  text-align: center;
}

  .page-footer a {
    background: none;
    border-bottom: 1px solid #42DCA3;
    padding: 0;
  }

    .page-footer a:hover {
      background: #C2F3E1;
      border-bottom: 1px solid #42DCA3;
    }

.section {
  margin-top: 40px;
}

  .section-wrapper {
    border-bottom: 1px solid #e1e1e1;
    height: 40px;
    position: relative;
  }

  .section-positioner {
    height: 100%;
    width: 200px;
    position: absolute;
    right: -200px;
    top: 1px;
  }

  .section-snuggler {
    border-bottom: 1px solid #e1e1e1;
    float: left;
    height: 100%;
    padding-left: 15px;
  }

  .section-title {
    float: left;
    font-size: 17px;
  }

.link-category {
  font-size: 1.2em;
}

  .link-category + .link-category {
    margin-top: 50px;
  }

  .link-category .link {
    margin-top: 15px;
  }

  .link-category .title {
    font-size: 1.5em;
    margin: 0;
  }

  .link-category .link-description {
    margin: 0;
  }

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/images/not_found.gif) center no-repeat;
  background-size: cover;
}
