<div class="row">
  <section class="page-month col-xs-6 col-xs-offset-3">
    <header>
      <h1 class="title">These are not the links you are searching for</h1>
    </header>
    <p>Looks like we don't have anything for this month. Better luck next time.</p>
  </section>
</div>

