<div class="row">
  <section class="page-month col-xs-8 col-xs-offset-2">
    <header>
      <h1 class="title">Quick Links</h1>
    </header>
    <footer class="page-footer">
    </footer>
  </section>
</div>

